body {
    background-color: honeydew;
}

h1 {
    margin-left: 5%;
}

#title {
    background-color: darkslategray;
    display: flex;
    flex-wrap: wrap;
    color: white;
    border-radius: 100px;
}

#employeeTable {
    border: 10px, darkslategray;
    border-style: dotted;
    color: darkslategray;
    border-radius: 10px;
}

input {
    
}

